@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all scroll containers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade {
  animation: fadeIn 0.6s ease-out;
}

.text-glow {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}